@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: Roboto;
  background: #a6341b;
  background: -webkit-linear-gradient(to left, #a6341b, #60371e);
  background: linear-gradient(to left, #a6341b, #60371e);
}

#container {
  height: 525px;
  width: 369px;
  margin: 100px auto;
  background: #c7c8c4;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

h1 {
  background: #60371e;
  color: #f9c743;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  padding-left: 20px;
}

span {
  padding-left: 20px;
}

form input[type="text"] {
  width: 90px;
}

input {
  padding-left: 20px;
}

#billamt {
  font-size: 14px;
  color: red;
  background-color: white;
  width: 60%;
  padding: 5px 5px 8px 8px;
  border-radius: 5px;
}

#billamt:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#peopleamt {
  width: 60%;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: red;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
}

#serviceQual {
  padding: 13px 13px 20px 20px;
  margin-left: 20px;
  font-size: 16px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #a6341b;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: #f9c743;
  border: none;
}

button:hover {
  background: #4c2827;
}

button:active {
  position: relative;
  top: 1px;
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "You owe";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
